<% layout('layouts/boilerplate') %> 

<div class="newedit_container">
  <!-- Title -->
  <section class="newedit_header">
    <h1><%= divebar.title %> - Edit</h1>
  </section>
  
  <!-- Form -->
  <section class="newedit_form">
    <form action="/divebars/<%=divebar._id%>?_method=PUT" method="POST" novalidate>
      <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="divebar[title]" value="<%= divebar.title %>" required>
          <div class="feedback feedback-valid">Thank you!</div>
          <div class="feedback feedback-invalid">Please enter a Title.</div>
      </div>
      <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" name="divebar[location]" value="<%= divebar.location %>" required>
          <div class="feedback feedback-valid">Thank you!</div>
          <div class="feedback feedback-invalid">Please enter a Location.</div>
      </div>
      <div class="form-group">
          <label for="capacity">Capacity</label>
          <input type="text" id="capacity" name="divebar[capacity]" value="<%= divebar.capacity %>">
      </div>
      <div class="form-group">
          <label for="location">Description</label>
          <textarea class="newedit_form_description" type="text" id="description" name="divebar[description]" required><%= divebar.description %></textarea>
          <div class="feedback feedback-valid">Thank you!</div>
          <div class="feedback feedback-invalid">Please enter a Description.</div>
      </div>
      <div class="form-group">
          <label for="image">Image</label>
          <input type="text" id="image" name="divebar[image]" value="<%= divebar.image %>">
      </div>
      <div class="form-group">
          <label for="map">Map</label>
          <input type="text" id="map" name="divebar[map]" value="<%= divebar.map %>">
      </div>
      <button class="newedit_form_addbar btn btn-primary">Update Divebar</button>
    </form>
  </section>

  <!-- Cancel -->
  <section class="newedit_cancel">
    <a href="/divebars/<%= divebar._id %>"><i class="fas fa-arrow-left"></i> Cancel, back to <%= divebar.title %></a>
  </section>      
</div>