<% layout('layouts/boilerplate') %> 

  <!-- header section -->
  <section class="show_header">
    <h1 class="show_header_title"><%= divebar.title %></h1>
    <%  if(currentUser && divebar.author.equals(currentUser._id)) { %> 
      <a class="show_header_edit btn btn-primary" href="/divebars/<%= divebar._id %>/edit">Edit</a>  
      <form class="show_header_delete" action="/divebars/<%=divebar._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
    <% } %> 
    <div class="show_header_location barinfo">
      <i class="fas fa-map-marker-alt"></i>
      <h3 class="barinfo_label"><%= divebar.location %></h3>
    </div>
  </section>

  <!-- Go back link -->
  <section class="show_gobacklink">
    <a href="/divebars"><i class="fas fa-arrow-left"></i> Back to All Divebars</a>
  </section>  

  <!-- Images -->
  <section class="show_images">
    <div class="show_images_main"><img src="<%= divebar.image %>" alt="divebar image"></div>
    <div class="show_images_thumb"><img src="<%= divebar.image %>" alt="divebar image"></div>
    <div class="show_images_thumb"><img src="<%= divebar.image %>" alt="divebar image"></div>
    <div class="show_images_thumb"><img src="<%= divebar.image %>" alt="divebar image"></div>
    <div class="show_images_thumb"><img src="<%= divebar.image %>" alt="divebar image"></div>    
  </section>

  <!-- Body -->
  <section class="show_body">
    <div class="show_body_description">
      <p><%= divebar.description %></p>
    </div>
    <div class="show_body_map">
      <div id='geoMap' style='width: 100%; height: 100%;'>
      </div>
    </div>
    <div class="show_body_info">
      <div class="barinfo">
        <i class="fas fa-map-marker-alt"></i>
        <h3 class="barinfo_label"><%= divebar.location %></h3>
      </div>
      <% if (divebar.capacity) { %> 
      <div class="barinfo">
        <i class="fas fa-users"></i>
        <h3 class="barinfo_label">Capacity:</h3>
        <p class="barinfo_value"><%= divebar.capacity %></p>
      </div>
      <% } %>      
      <div class="barinfo">
        <div class="user-badge">Created by <%= divebar.author.displayName %></p>
      </div>
    </div>
  </section>

  <!-- Tabs -->
  <section class="show_tabs">

    <!-- Tabs - headings -->
    <div class="tab-headings">
      <button class="tab-headings_btn is-active" data-tabref="reviews">
        <h3>Reviews</h3>
      </button>
      <button class="tab-headings_btn" data-tabref="events">
        <h3>Events</h3>
      </button>
    </div> 

    <!-- Tabs - content -->
    <div class="tab-content">

      <!-- Reviews -->
      <div class="tab-content_item is-active tab-content_item--reviews" id="reviews">
        <div class="add-review">
          <h3 class="add-review_headline">Write Your Review</h3>

          <!-- Form -->
          <form class="add-review_form" action="/divebars/<%= divebar._id %>/reviews" method="POST" novalidate>
            <div class="form-group">
                <label for="Rating">Rating</label>
                <input type="range" id="rating" name="review[rating]" min="1" max="5">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="review[title]" required>
                <div class="feedback feedback-valid">Thank you!</div>
                <div class="feedback feedback-invalid">Please enter a Title.</div>
            </div>
            <div class="form-group">
                <label for="location">Review</label>
                <textarea type="text" id="description" name="review[body]" required></textarea>
                <div class="feedback feedback-valid">Thank you!</div>
                <div class="feedback feedback-invalid">Please enter a Review.</div>
            </div>
            <button class="add-review_submit-btn btn btn-primary">Submit Review</button>
          </form>
        </div>

         

        <!-- Review List -->
        <div class="review-list">
          <% if(divebar.reviews.length == 0) { %> 
            <div class="review-list_no-review-msg">
              No reviews yet!
            </div>
          <% } else { %>
            <% for (const r of divebar.reviews.reverse()) { %>
                <div class="review-list__item">
                  <div class="review-list__rating-wrapper">
                    Rating: <span class="review-list__rating-output"><%= r.rating %></span>
                  </div>
                  <h3 class="review-list__title"><%= r.title %></h3>
                  <div class="review-list__author-wrapper">
                    Review submitted by <span class="review-list__author"><%= r.author.displayName %></span>
                  </div>
                  <div class="review-list__body"><%= r.body %></div>
                  <%  if(currentUser && r.author.equals(currentUser._id)) { %>
                  <form action="/divebars/<%=divebar._id%>/reviews/<%=r._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-small">Delete</button>
                  </form>
                  <% } %>                   
                </div>
            <% } %>
          <% } %> 

        </div>
      </div>
      <!-- Events -->
      <div class="tab-content_item" id="events">
        Events!
      </div>
    </div>

  </section>

  <script>
    const MAPBOX_TOKEN = '<%- process.env.MAPBOX_TOKEN %>';
    let coordinates = '<%- JSON.stringify(divebar.geometry.coordinates) %>';
    coordinates = JSON.parse(coordinates); 
  </script>
