<% layout('layouts/boilerplate') %> 
  <h1><%= divebar.title %></h1>
  <h2><%= divebar.location %></h2>
  <p><%= divebar.description %></p>
  <a href="/divebars/<%= divebar._id %>/edit">Edit</a>
  <a href="/divebars">Back to All Divebars</a>
  <form action="/divebars/<%=divebar._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>


